.additional-benefits {
  text-transform: uppercase;
  background-color: var(--light-gray);

  @media (min-width: @tablet-width) {
    padding-bottom: 15px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 35px;
  }
}

.additional-benefits__list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.additional-benefits__item {
  position: relative;
  margin: 0 auto;

  &::before {
    content: "";
    position: absolute;
    top: 165px;
    left: -10px;
    width: 280px;
    height: 1px;
    background-color: var(--pale-gray);

    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.additional-benefits__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  padding-top: 27px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    width: 119px;
    padding-top: 42px;
  }
}

.additional-benefits__number {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  padding: 10px 0 16px 0;

  @media (min-width: @tablet-width) {
    padding: 15px 0 22px 0;
  }
}

.additional-benefits__info {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  margin: 0 auto;
  padding-bottom: 26px;
  width: 256px;

  @media (min-width: @tablet-width) {
    width: 180px;
  }

  @media (min-width: @desktop-width) {
    width: 285px;
  }
}

.additional-benefits__info--road {
  @media (min-width: @tablet-width) {
    width: 130px;
  }

  @media (min-width: @desktop-width) {
    width: 270px;
  }
}

.additional-benefits__info--tourists {
  @media (min-width: @tablet-width) {
    width: 150px;
  }

  @media (min-width: @desktop-width) {
    width: 285px;
  }
}
