.advantages {
  margin: 35px 0 35px 0;
}

.advantages__list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
  padding-left: 70px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 68px;
    padding: 0;
    text-align: center;
  }
}

.advantages__item {
  text-transform: uppercase;
  margin: 0 0 26px 0;
  max-width: 193px;
}

@media (min-width: @tablet-width) {
  .advantages__item----lodging {
    order: -1;
  }

  .advantages__item--souvenirs {
    order: 1;
  }

  .advantages__item--food {
    order: 0;
  }
}


.advantages__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 27px 0;
}

.advantages__info {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}
