.contacts-form__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.contacts-form__wrapper {
  margin-bottom: 48px;
}

.contacts-form__phone,
.contacts-form__email {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
}

.contacts-form__phone {
  margin-bottom: 14px;
}

.contacts-form__input {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: var(--black);
  background: var(--very-light-gray);
}
