.contacts-form__title {
  position: relative;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 23px 0 18px;

  @media (min-width: @tablet-width) {
    margin: 30px 0 18px;
    font-size: 21px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      width: 125px;
      height: 1px;
      left: 0;
      background-color: var(--pale-gray);

      @media (min-width: @desktop-width) {
        width: 279px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      width: 125px;
      height: 1px;
      background-color: var(--pale-gray);

      @media (min-width: @desktop-width) {
        width: 279px;
      }
    }
  }
}

.contacts-form__wrapper {
  margin-bottom: 48px;

  @media (min-width: @tablet-width) {
    width: 648px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 960px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 75px;
  }
}

.contacts-form--tablet {
  @media (min-width: @tablet-width) {

    grid-column: span 2;
    order: 3;
  }
}

.contacts-form__phone,
.contacts-form__email {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  position: relative;

  @media (min-width: @tablet-width) {
    width: 100%;
  }
}

.contacts-form__label {
  float: left;
  margin-bottom: 10px;
  margin-left: 20px;

  @media (min-width: @desktop-width) {
    margin-right: 17px;
    margin-left: 0;
  }
}

.contacts-form__label--email {
  margin-bottom: 5px;
}

.contacts-form__phone {
  position: relative;

  @media (min-width: @tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    width: 401px;
    display: flex;
    align-items: center;
  }

  &::after {
    content: "";
    position: absolute;
    top: 35px;
    right: 0;
    width: 56px;
    height: 56px;
    background: var(--pale-gray) url("../img/phone.svg") center no-repeat;
    background-repeat: no-repeat;

    @media (min-width: @desktop-width) {
      top: 0;
    }
  }
}

.contacts-form__email {
  position: relative;

  @media (min-width: @desktop-width) {
    width: 479px;
    display: flex;
    align-items: center;
    height: 56px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 32px;
    right: 0;
    width: 56px;
    height: 56px;
    background: var(--pale-gray) url("../img/mail.svg") center no-repeat;
    background-repeat: no-repeat;

    @media (min-width: @desktop-width) {
      top: -8px;
    }
  }
}

.contacts-form__input {
  display: block;
  box-sizing: border-box;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  background: var(--very-light-gray);
  margin-bottom: 15px;
  height: 56px;
  padding: 15px 20px;
  border: none;

  @media (min-width: @tablet-width) {
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    width: 315px;
  }

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    background: var(--white);
    border: 4px solid #e5e5e5;
  }
}

.contacts-form {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 289px;
    left: -20px;
    width: 320px;
    height: 1px;
    background-color: var(--pale-gray);

    @media (min-width: @tablet-width) {
      display: none;
    }
  }
}

.contacts-form__hidden {
  @media (min-width: @desktop-width) {
    display: none;
  }
}
