.description {
  background: var(--pistachio-colored);
  color: var(--white);
  text-transform: uppercase;
  position: relative;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}

.description__wrapper-headers {
  padding: 38px 0 37px 0;

  @media (min-width: @tablet-width) {
    order: 1;
    padding: 45px 0 37px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 51px 90px;
  }
}

.description__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 12px;

  @media (max-width: @mobile-width-only) {
    br {
      content: "";
    }

    br:after {
      content: "\00a0";
    }
  }
}

.description__number {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  margin-bottom: 27px;
}

.description__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}

.description__image {
  display: block;
  width: 100%;
  height: 260px;

  @media (min-width: @tablet-width) {
    order: -1;
  }
}
