.emotion{
  margin-bottom: 50px;

}
.emotion__title{
  font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 26px;
text-transform: uppercase;
color: #000000;
}

.emotion__comment{
  margin: 0;
}

