.emotion {
  margin-bottom: 50px;
}

.emotion__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--black);
}

.emotion__comment {
  margin: 0;
}

.emotion__comment-textarea{
  width: 100%;
  height: auto;
  padding: 12px 20px;
  background-color:  var(--very-light-gray);
  border: 2px solid var(--very-light-gray);
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: var(--black);
}

