.form {
  margin: 37px 0;

}

.form__grid{
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

}

.form__wrapper-headers {
  @media (min-width: @tablet-width) {
    max-width: 458px;
    margin: 0 auto;
  }
}

.form__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0 0 41px 0;
}

.form__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--black-olive);
  text-transform: uppercase;
  margin: 0;
}
