.full-name {
  @media (min-width: @tablet-width) {
    order: 2;
  }
}

.full-name__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.full-name__name,
.full-name__surname,
.full-name__patronymic {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  float: left;
}

.full-name__input {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  max-width: 190px;
  color: var(--black);
  background: var(--very-light-gray);
  margin-bottom: 20px;
}
