.gallery {
  margin: 30px 0;
}

.gallery__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: var(--black);
  margin: 0 0 35px;
  text-transform: uppercase;
}

.gallery__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--black-olive);
  margin: 0;
  text-transform: uppercase;
}

.gallery__list {
  padding: 0;
  list-style: none;
}

.gallery__content-photo {
  display: block;
  width: 100%;
  margin-bottom: 11px;
}

.gallery__content {
  margin-bottom: 11px;
}

.gallery__name {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
}

.gallery__author {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}

.gallery__like-sum {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  text-transform: uppercase;
}
