.gallery {
  margin: 33px 0;

  @media (min-width: @tablet-width) {
    margin-top: 65px;
  }
@media (min-width: @desktop-width){
margin-top: 100px;
}
}


.gallery__wrapper-headers {
  @media (min-width: @tablet-width) {
    max-width: 458px;
    margin: 0 auto;
  }
}
.gallery__wrapper{
  @media (min-width: @tablet-width){
text-align: left;
  }

}

.gallery__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: var(--black);
  margin: 0 0 30px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 30px;
  }
}

.gallery__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--black-oliv);
  margin: 0;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: 430px;
    margin: 0 auto;
  }
}

.gallery__list {
  padding: 0;
  list-style: none;
  margin: 0;
  padding-top: 55px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 80px;
  }
}

.gallery__item {
  text-align: left;
  position: relative;
  margin-bottom: 45px;

@media (min-width: @tablet-width){
 margin: 0;
}

  @media (min-width: @desktop-width) {
    position: relative;
  }

  &::before {
    content: "";
    position: absolute;
    top: 390px;
    left: -20px;
    width: 320px;
    height: 1px;
    background-color: var(--pale-gray);

    @media (min-width: @tablet-width) {
      display: none;
    }
  }
}

.gallery__item--top {
  @media (min-width: @tablet-width) {
    grid-column: span 2;
    margin: 0;
    width: 648px;
  }

  @media (min-width: @desktop-width) {
    grid-column: span 3;
    height: 400px;
    width: 1200px;
  }
}

.gallery__content-photo {
  display: block;
  width: 100%;
  margin-bottom: 7px;
  height: 280px;

  @media (min-width: @tablet-width){
  margin: 0;
  height: 270px;
}

  @media (min-width: @desktop-width) {
    height: 267px;
  }
}

.gallery__content-photo--top{
 @media (min-width: @tablet-width) {
    height: 400px;
    margin: 0;
  }
}

.gallery__content {
  margin-bottom: 11px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    background-color: var(--very-light-gray);
    margin: 0;
    text-align: left;
    padding: 14px 20px 18px;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    background-color: var(--black);
    opacity: 0.3;
    color: var(--white);
    z-index: 3;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 360px;
  }
}

.gallery__content--top {
  @media (min-width: @desktop-width) {
    max-width: 1160px;
  }
}

.gallery__name {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
}

.gallery__author {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}

.gallery__like {
  margin-top: 10px;

}

.gallery__like-icon {
  cursor: pointer;
}

.gallery__like-sum {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  text-transform: uppercase;
  position: relative;
  padding-left: 40px;
  padding-left: 10px;
  cursor: pointer;
}

.gallery__like-button {
  padding: 0;
  border: 0;
  cursor: pointer;
  margin-top: 9px;
  background: transparent;
  display: flex;

  @media (min-width: @tablet-width){
    margin: 0;
  }
}
