.gallery{
margin: 30px 0;
}

.gallery__title {
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 26px;
color: #000000;
margin: 0 0 35px;
text-transform: uppercase;
}

.gallery__subtitle {
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
color: #333333;
margin: 0;
text-transform: uppercase;
}

.gallery__list {
padding: 0;
list-style: none;
}
/*
.gallery__item {
}
*/

.gallery__content-photo{
display: block;
width: 100%;
margin-bottom: 11px;
}

.gallery__content {
margin-bottom: 11px;
}

.gallery__name {
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 24px;
text-transform: uppercase;
margin: 0;
}

.gallery__author {
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
margin: 0;
}

/*
.gallery__like {
}
.gallery__like-button {
}*/
.gallery__like-sum {
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 24px;
margin: 0;
text-transform: uppercase;
}
