.hotel-search {
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: 458px;
    margin: 0 auto;
  }
}

.hotel-search__title {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  padding: 32px 0 20px 0;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    padding: 55px 0 35px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 55px 0 35px 0;
  }
}

.hotel-search__info {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  padding: 0 0 30px;
  margin: 0;

  @media (min-width: @tablet-width) {
    padding: 0 0 35px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 0 46px 0;
  }

  @media (max-width: @mobile-width-only) {
    br {
      content: "";
    }

    br::after {
      content: "\00a0";
    }
  }
}

.hotel-search__button {
  display: block;
  padding: 15px 35px;

  @media (min-width: @tablet-width) {
    padding: 16px 47px;
  }
}
