.impression {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 270px;
    left: -20px;
    width: 320px;
    height: 1px;
    background-color: var(--pale-gray);

    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    order: 1;
    width: 324px;
    padding-left: 15px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 48px;
    width: 480px;
  }
}

.impression__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    text-align: left;
  }

@media (min-width: @desktop-width){
    padding-left: 75px;
}
}

.impression__list {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  list-style: none;
  padding: 0;
  float: left;
  margin-top: 25px;

  @media (min-width: @tablet-width) {
  margin-top: 58px;
  }
}

.impression__item {
  margin-bottom: 13px;
  float: left;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
  margin-bottom: 22px;
  }
}
