.main-description {
  background: var(--pistachio-colored);
  color: var(--white);

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

.main-description__wrapper-headers {
  padding: 55px 0 39px 0;
}

.main-description__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 22px;
}

.main-description__number {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  margin-bottom: 27px;
}

.main-description__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}


.main-description__image {
  display: block;
  background: url("../img/photo-city.jpg") center no-repeat #c0d6e4;
  width: 100%;
  height: 260px;
  background-size: cover;
  background-position: center;
}
