.main-nav {
  position: relative;
  width: auto;
  min-height: 55px;
  background-color: var(--pistachio-colored);

  @media (min-width: @tablet-width) {
    background-color: var(--white);
  }
}

.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 694px;
    margin: 0 auto;
  }
}

.main-nav__list a {
  display: block;
  position: relative;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  color: var(--white);
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 5px;

  @media (min-width: @tablet-width) {
    color: var(--black);
  }
}


.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 22px;
  height: 22px;
  cursor: pointer;
  border: none;
  &:hover,
  &:active {
    background-color: #624530;
  }
  @media (min-width: @tablet-width) {
    display: none;
  }
}


/*закрытое меню*/
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 17px;
  right: 20px;
  width: 22px;
  height: 4px;
  background-color: var(--white);
  box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;

  @media (max-width: @mobile-width-only) {
    .main-nav--closed .site-list__item {
      display: none;
    }

    &--active {
      display: block;
    }



    .main-nav--closed {
      display: none;
    }
  }
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: fade(#ffffff, 30%);
  box-shadow:
    0 8px 0 0 fade(#ffffff, 30%),
    0 16px 0 0 fade(#ffffff, 30%);
}

/*открытое меню*/
.main-nav--opened .main-nav__toggle {
  top: 0;
  right: auto;
  left: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 24px;
    right: 18px;
    width: 22px;
    height: 2px;
    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: fade(#ffffff, 30%);
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__wrapper {
  position: static;
  min-height: 0;
}

.main-nav--nojs {
  display: block;
}

.main-nav--nojs {
  display: block;
  background-color: var(--pistachio-colored);
}
