.main-nav {
  position: relative;
  width: auto;
  min-height: 55px;
  background-color: var(--pistachio-colored);
}

.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 694px;
    margin: 0 auto;
}
}

.main-nav__list a {
  display: block;
  position: relative;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  color: var(--white);
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 5px;
}

.main-nav__toggle{
@media (min-width: @tablet-width){
display: none;
}
}
