.map {
  overflow: hidden;
  margin-top: 50px;
  position: relative;
  height: 350px;

  @media (min-width: @tablet-width) {
    margin-top: 60px;

  }

  @media (min-width: @desktop-width) {
    margin-top: 65px;
    height: 355px;
  }
}

.map iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
