.presentation {
  position: relative;
  text-transform: uppercase;
  margin-top: 50px;

  @media (min-width: @tablet-width) {
    margin-top: 0;
  }
}

.presentation__video {
  position: relative;
  height: 200px;
  width: 320px;
  margin: 0 auto 85px;

  @media (min-width: @tablet-width) {
    width: 648px;
    height: 500px;
    margin-bottom: 35px;
  }

  @media (min-width: @desktop-width) {
    width: 800px;
    height: 500px;
    margin-bottom: 108px;
  }
}

.presentation__title-wrapper {
  margin-bottom: 33px;

  @media (min-width: @tablet-width) {
    width: 480px;
    margin: 0 auto;
    padding-top: 23px;
    padding-bottom: 77px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 25px;
  }
}

.presentation__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: var(--black);
  margin: 0 0 28px 0;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    margin: 0 0 35px;
  }
}

.presentation__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--black-olive);
  margin: 0 auto;
  width: 266px;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    width: 445px;
  }
}

.presentation__range-wrapper {
  position: absolute;
  top: 158px;
  left: 20px;
  width: 280px;
  height: 43px;
  background-color: var(--black);
  opacity: 0.6;

  @media (min-width: @tablet-width) {
    left: 0;
    width: 648px;
    height: 93px;
    top: 407px;
  }

  @media (min-width: @desktop-width) {
    left: 0;
    width: 800px;
    height: 93px;
    top: 410px;
  }
}

.presentation__button-wrapper {
  display: flex;
  justify-content: space-between;
  width: 250px;
  margin: 0 auto;
  background-color: #f2f2f2;
  padding: 20px 15px;

  @media (min-width: @tablet-width) {
    width: 648px;
    position: absolute;
    align-items: center;
    background-color: transparent;
    top: 410px;
    padding: 33px 35px 33px 28px;
    box-sizing: border-box;
  }

  @media (min-width: @desktop-width) {
    width: 800px;
    top: 410px;
    padding: 33px 29px 33px 28px;
  }
}

.presentation__button {
  border: none;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: @desktop-width) {
    padding-right: 15px;
  }
}

.presentation__button--subtitles {
  margin-left: auto;
  margin-right: 20px;

  @media (min-width: @desktop-width) {
    margin-right: 10px;
  }

}

.presentation__link-icon {
  @media (max-width: @mobile-width-only) {
    fill: #5c6870;

    &:hover {
      fill: #333333;
    }

    &:active {
      opacity: 0.3;
    }
  }

  @media (min-width: @tablet-width) {
    fill: var(--white);

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}


.presentation__range {
  margin-bottom: 20px;
  margin-top: 22px;
  width: 235px;
  top: 155px;
  left: 43px;
  position: absolute;

  @media (min-width: @tablet-width) {
    margin-top: 0;
    margin-bottom: 0;
    width: 398px;
    position: initial;
    margin: 0 15px 0 25px;
  }

  @media (min-width: @desktop-width) {
    width: 540px;
  }
}



input[type="range"]::-webkit-slider-thumb {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--white);
  box-sizing: border-box;
  cursor: pointer;
  margin-top: -5px;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 240px;
  height: 2px;
  cursor: pointer;
  background: var(--white);
}

input[type=range] {
  -webkit-appearance: none;
  background: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-webkit-slider-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ffffff;
  box-sizing: border-box;
  cursor: pointer;
  margin-top: -5px;
}
