.presentation {
  position: relative;
  text-transform: uppercase;
  margin-top: 56px;
}

.presentation__video {
  position: relative;
  height: 200px;
  width: 320px;
  margin: 0 auto 40px;
  margin-bottom: 120px;

  @media (min-width: @tablet-width) {
    width: 648px;
    height: 500px;
    margin-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    width: 800px;
    height: 500px;
  }
}

.presentation__title-wrapper {
  width: 266px;
  margin-bottom: 33px;

  @media (min-width: @tablet-width) {
    padding-top: 27px;
    padding-bottom: 73px;
    width: 480px;
    margin: 0 auto;
  }
}

.presentation__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: var(--black);
  margin: 0 0 28px 0;
}

.presentation__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--black-olive);
  margin: 0;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    max-width: 445px;
  }
}

.presentation__range-wrapper {
  position: absolute;
  top: 155px;
  left: 20px;
  width: 280px;
  height: 45px;
  background-color: var(--black);
  opacity: 0.6;

  @media (min-width: @tablet-width) {
    left: 0;
    width: 648px;
    height: 93px;
    top: 310px;
  }

  @media (min-width: @desktop-width) {
    left: 0;
    width: 800px;
    height: 93px;
    top: 410px;
  }
}

.presentation__button-wrapper {
  display: flex;
  justify-content: space-between;
  width: 250px;
  margin: 0 auto;
  background-color: #f2f2f2;
  padding: 21px;

  @media (min-width: @tablet-width) {
    width: 608px;
    position: absolute;
    align-items: center;
    background-color: transparent;
    top: 320px;
  }

  @media (min-width: @desktop-width) {
    width: 758px;
    top: 420px;
  }
}

.presentation__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.presentation__button--subtitles{
  margin-left: auto;
  margin-right: 20px;
}


.presentation__link-icon {
  fill: #5C6870;

  &:hover {
    fill: #333333;
  }

  &:active {
    opacity: 0.3;
  }
}

.presentation__range {
  margin-bottom: 20px;
  margin-top: 22px;
  width: 235px;
  top: 155px;
  left: 43px;
  position: absolute;

  @media (min-width: @tablet-width) {
    width: 202px;
    margin-right: 15px;
    margin-left: 25px;
    position: initial;
  }

  @media (min-width: @desktop-width) {
    margin-left: 47px;
    width: 288px;
  }
}

.presentation input[type=range] {
  -webkit-appearance: none;
  background: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/*кружочек*/
input[type=range]::-webkit-slider-thumb {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--white);
  box-sizing: border-box;
  cursor: pointer;
  margin-top: -5px;
}

/*полоса*/
input[type=range]::-webkit-slider-runnable-track {
  width: 240px;
  height: 2px;
  cursor: pointer;
  background: var(--white);
}
