.site-list {
  @media (min-width: @tablet-width) {
    width: 694px;
  }
}




/* РЕДАКТИРОВАТЬ ЦВЕТ ТЕКСТА И ФОН
.site-list a {
  position: relative;
  display: block;
  padding: 10px 5px;
  color: var(--white);
  background: var(--pistachio-colored);
  mix-blend-mode: normal;
  box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 0.2);
}
