.social__list {
  display: flex;
  justify-content: space-between;
  width: 151px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    margin-left: auto;
    margin-right: 38px;
    margin-top: 12px;
  }
  @media (min-width: @desktop-width){
    margin-right: 100px;
  }
}

.social__grid {
  display: flex;
  align-items: center;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.social__list a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 48px;
  background-color: var(--pistachio-colored);

  &:hover{
    background-color: var(--blue-steel);
  }

  &:active{
    background-color:var(--azure-color);
  }
}

.social__hashtag {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 33px;
  margin-top: 40px;

  @media (min-width: @tablet-width) {
    margin-top: 47px;
    margin-right: 57px;
  }

  @media (min-width: @desktop-width){
    margin-top: 50px;
    margin-right: 123px;
  }
}

.social__link-icon{
  fill: #FFFFFF;

  &:active{
  fill: rgba(255, 255, 255, 0.3);
  }
}
