.social__list {
    display: flex;
    justify-content: space-between;
    width: 151px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.social__grid {
    display: flex;
    align-items: center;
    flex-direction: column;
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.social__item--twitter{
    position: relative;
    width: 47px;
    height: 48px;
    background-color: #81b3d2;

  &::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 15px;
    top: 30%;
    left: 35%;
    background: url(../img/icon-twitter.svg) center no-repeat;
    background-size: contain;
    cursor: pointer;
}
}

.social__item--facebook{
    position: relative;
    width: 47px;
    height: 48px;
    background-color: #81b3d2;

  &::before {
    content: '';
    position: absolute;
    width: 9px;
    height: 19px;
    top: 30%;
    left: 35%;
    background: url(../img/icon-facebook.svg) center no-repeat;
    background-size: contain;
    cursor: pointer;
}
}

.social__item--youtube{
position: relative;
    width: 47px;
    height: 48px;
    background-color: #81b3d2;

  &::before {
    content: '';
    position: absolute;
    width: 19px;
    height: 14px;
    top: 30%;
    left: 35%;
    background: url(../img/icon-youtube.svg) center no-repeat;
    background-size: contain;
    cursor: pointer;
}
}

.social__hashtag {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--black);
}
