.toggle {
  position: relative;
  cursor: pointer;
}

.toggle__radio {
  display: inline-block;
  vertical-align: middle;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: #f2f2f2;
  position: relative;
  margin-right: 17px;

  @media (min-width: @tablet-width) {
    margin-right: 15px;
  }
}


.toggle__radio::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 16px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #333333;
  display: none;
}

input:disabled ~ .toggle__radio {
  background: #f2f2f2;
}

input:hover ~ .toggle__radio {
  background: #e5e5e5;
}

input:active ~ .toggle__radio {
  background: #d5d5d5;
}

input:checked ~ .toggle__radio::before {
  display: block;
}

.toggle__checkbox {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 57px;
  height: 57px;
  background: #f2f2f2;
  border-radius: 5%;
  margin-right: 18px;

  @media (min-width: @tablet-width) {
    margin-right: 20px;
  }
}

.toggle__checkbox::before {
  content: "";
  position: absolute;
  top: 19px;
  left: 16px;
  width: 24px;
  height: 17px;
  background: url("../img/icon-tick.svg") center no-repeat;
  background-size: contain;
  display: none;
}

input:disabled ~ .toggle__checkbox {
  background: #f2f2f2;
}

input:hover ~ .toggle__checkbox {
  background: #e5e5e5;
}

input:active ~ .toggle__checkbox {
  background: #d5d5d5;
}

input:checked ~ .toggle__checkbox::before {
  display: block;
}
