.welcome-block__image {
  display: block;
  background: url("../img/back-mobile.jpg") center no-repeat #c0d6e4;
  width: 100%;
  height: 390px;
  background-size: cover;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 57px;
    background: url("../img/intro-triangle.svg") center no-repeat;
  }
}

.welcome-block__image-text {
  padding-top: 49px;
}

.welcome-block__wrapper-headers {
  margin-top: 32px;
  margin-bottom: 11px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    min-width: 520px;
  }
}

.welcome-block__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  color: var(--black);
  margin-bottom: 44px;
}

.welcome-block__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  margin: 0;
  color: var(--black-olive);
}
