.welcome-block__image {
  display: block;
  background: url("../img/back-mobile.jpg") center no-repeat #c0d6e4;
  width: 100%;
  height: 390px;
  background-size: cover;
}
/* непонятно шо получилось
.welcome-block__image {
display: block;
background-image: url(../img/text-index.png);
background-position: 0 110px;
background-size: 282px 214px;
background-repeat: no-repeat;
}

*/


.welcome-block__wrapper-headers {
  margin-top: 32px;
  margin-bottom: 11px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    min-width: 520px;
  }
}

.welcome-block__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  color: var(--black);
  margin-bottom: 44px;
}

.welcome-block__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  margin: 0;
  color: var(--black-olive);
}
