.аttraction {
margin-bottom: 60px;
}

.attraction__title {
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 26px;
text-transform: uppercase;
margin:0;
}

.attraction__list {
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 26px;
}

.attraction__item {
margin-bottom: 43px;
}
