.аttraction {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 430px;
    left: -20px;
    width: 320px;
    height: 1px;
    background-color: var(--pale-gray);

    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    order: 4;
    grid-column: span 2;
  }
}

.attraction__title {
  position: relative;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: @tablet-width) {
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      width: 125px;
      height: 1px;
      left: 0;
      background-color: var(--pale-gray);

      @media (min-width: @desktop-width) {
        width: 279px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      width: 125px;
      height: 1px;
      background-color: var(--pale-gray);

      @media (min-width: @desktop-width) {
        width: 279px;
      }
    }
  }
}

.attraction__list {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  list-style: none;
  padding: 0;
  max-width: 465px;
  margin: 0 auto;
  margin-top: 35px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 960px;
    justify-content: space-between;
  }
}

.attraction__item {
  display: flex;
  margin-bottom: 43px;
}

.attraction__item label {
  @media (min-width: @desktop-width) {
    align-items: center;
    display: flex;
  }
}
