@import "source/less/blocks/page.less";
@import "source/less/blocks/main-nav.less";
@import "source/less/blocks/fonts.less";
@import "source/less/blocks/welcome-block.less";
@import "source/less/blocks/mixins.less";
@import "source/less/blocks/container.less";
@import "source/less/blocks/main-description.less";
@import "source/less/blocks/advantages.less";
@import "source/less/blocks/description.less";
@import "source/less/blocks/additional-benefits.less";
@import "source/less/blocks/hotel-search.less";


// Viewports
@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 767px;
