@import "source/less/blocks/page.less";
@import "source/less/blocks/main-nav.less";
@import "source/less/blocks/fonts.less";
@import "source/less/blocks/welcome-block.less";
@import "source/less/blocks/mixins.less";

// Viewports
@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 767px;
